@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gidole", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}


input{
  @apply border border-gray-300 rounded-md p-2
}


.programListItems {
  @apply text-sm text-gray-500 border-t-[1px] border-gray-300 py-2
}

h3{
  @apply font-bold
}

.description {
  @apply text-base font-normal
}

.workout-button{
  @apply text-white uppercase text-3xl font-bold
}

.button__main-menu{
  @apply w-full border-[1px] border-black text-center text-black px-4 py-2 rounded-md duration-300 hover:bg-slate-200
}

.button__back{
  @apply w-full bg-red-400 text-center text-white px-4 py-2 rounded-md duration-300 hover:bg-red-300 
}
.button__submit{
  @apply w-full bg-green-500 text-center text-white px-4 py-2 rounded-md duration-300 hover:bg-green-400
}

h2{
  @apply text-2xl font-bold uppercase
}