@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes extra space created by the spin buttons */
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  appearance: textfield; /* Standard property */
}

:root{
  --input: #474747
}


body {
  font-family: "Gidole", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}


input, textarea, select{
  @apply rounded-md p-2 bg-[var(--input)];
}



.programListItems {
  @apply text-sm text-gray-500 border-t-[1px] border-gray-300 py-2
}

h3{
  @apply font-bold
}

.description {
  @apply text-base font-normal
}

.workout-button{
  @apply text-white uppercase text-3xl font-bold
}

.button__main-menu{
  @apply w-full border-[1px] border-black text-center text-black px-4 py-2 rounded-md duration-300 hover:bg-slate-200
}

.button__back{
  @apply w-full bg-red-400 text-center text-white px-4 py-2 rounded-md duration-300 hover:bg-red-300 
}
.button__submit{
  @apply w-full bg-green-500 text-center text-white px-4 py-2 rounded-md duration-300 hover:bg-green-400
}

h2{
  @apply text-2xl font-bold uppercase
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}
